@charset "UTF-8";

html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: Black;
    background-color: White;
}

h1 {
    font-size: 3rem;
}

.state {
    width: 80%;
    margin: 40px auto;
}

div .btn_main {
    display: block;
    width: 100%;
    margin: 80px auto;
    padding: 30px 0;
    font-size: 4rem;
}

input .btn_main {
    display: block;
    width: 100%;
    margin: 80px auto;
    padding: 30px 0;
    font-size: 4rem;
}

.form-group div label.header {
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    text-align: left;
}

div .txt {
    display: block;
    width: 100%;
    margin: 0 auto 50px;
    font-size: 3rem;
}

div .btn_spectator {
    display: inline-block;
    width: 40%;
    padding: 10px 0;
    font-size: 3rem;
}

.btn_operator {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 3rem;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

div .btn_selection {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 0;
    font-size: 3rem;
}

.indention {
    margin: 0 0 40px;
}


.box_head {
    padding: 5px 0;
    font-size: 2rem;
    background-color: LightGrey;
    border: solid 2px Gray;
}

.box_main {
    padding: 5px 0;
    font-size: 3rem;
    border-left: solid 2px Gray;
    border-right: solid 2px Gray;
    border-bottom: solid 2px Gray;
}

.box_remaining {
    padding: 5px 0;
    font-size: 3rem;
}

.table {
    display: table;
    width: 100%;
    margin: 0 auto 80px;
}

.table_setting {
    display: table;
    width: 100%;
    margin: 0 0 20px;
}

.table_left {
    display: table;
    width: 100%;
    margin: 30px 0;
}

.table_result {
    display: table;
    width: 100%;
    margin: 0;
}

.box_side {
    width: 100%;
    margin: 0 auto 30px;
}

.table-cell {
    display: table-cell;
    padding: 5px 0;
    font-size: 3rem;
}

.box_participant {
    width: 50%;
}

.box_margin {
    width: 10%;
}

.box_position {
    width: 30%;
}

.box_result {
    width: 100%;
}

.box_point {
    width: 20%;
}

.box_operator {
    width: 20%;
}

.box_value {
    width: 30%;
}

.box_number {
    width: 20%;
}

.box_point {
    width: 50%;
}

.txt_right {
    text-align: right;
}

#footer {
    padding: 50px 0px;
    border-top: solid;
}

